/*Added custom font from http://www.dafont.com/retroville-nc.font*/
@font-face {
    font-family: 'retroville';
    src: url('fonts/retroville.ttf');
}

#gameboard, #scoreboard {
    background-color:black;
}

#game-wrapper {
    margin:0 auto;
    width: 500px;
}