/*Added custom font from http://www.dafont.com/retroville-nc.font*/
@font-face {
    font-family: 'retroville';
    src: url('fonts/retroville.ttf');
}

/*Game background colour*/
#gameboard, #feelingsboard, #scoreboard {
    background-color:black;
}

/*Center align game*/
#game-wrapper {
    margin:0 auto;
    width: 500px;
}